.admin-layout-navbar {
  right: 5px;
  left: 205px;
  //width: 100%;
  position: fixed;
  background-color: rgba(161, 161, 161, 1);
  border-radius: .5rem;
  z-index: 1000;



  //nav{
  //  right: 5px;
  //  left: 205px;
  //  //width: 100%;
  //  position: fixed;
  //  background-color: rgba(161, 161, 161, 1);
  //  border-radius: .5rem;
  //  z-index: 1000;
  //}
  .custom{
    right: 5px;
    left: 205px;
    //width: 100%;
    position: fixed;
    background-color: rgba(161, 161, 161, 1);
    border-radius: .5rem;
    z-index: 1000;
  }

}

@include media-breakpoint-down(xs) {
  .admin-layout-navbar{
    background:rgba(46,49,69,1) ;
    overflow: hidden;
    display: none;
    button {
      overflow: hidden;
      height: 0;
      display: none;
    }
  }
}