.admin-layout-sidebar {
  background:rgba(127,127,127,1);

  height: 100%;
  position: fixed;
  width: 200px;
  left: 3px;
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.1);
  border-radius: .5rem;
  top:5px;
  z-index: 100;

  ul {
    &.selected{
      color: #6c757d;
      background: darken(rgba(46,49,69,0.45), 2);
    }

    li {
      a {
        display: block;
        width: 100%;
        color: white;
        padding: .5rem .5rem .5rem 0;

        &:hover {
          color: #d9162f;
          background: darken(rgba(46,49,69,0.45), 1);
          border-radius: 1rem;
        }
        &:focus {
          color:rgba(0,0,0,0.45);
          background: rgba(55, 121, 129, 1);
          border-radius: 1rem;
        }

      }
    }
  }
}

@include media-breakpoint-down(xs) {
  .admin-layout-sidebar {
    top: 0;
    width: 100%;
    height: 50px;
    //position: relative;
    display: flex;
    align-items: center;
    z-index: 10;
    background:rgba(46,49,69,1);


    button {
      margin-left: 30px;
    }

    ul {
      background: darken(rgba(46,49,69,0.45), 1);
      position: fixed;
      top: 50px;
      width:100%;
      overflow: hidden;
      height: 0;
      transition: height .4s linear;
      border-radius: .5rem;

      &.selected {
        height: 200px;
        //display: block !important;
        background: darken(rgba(46,49,69,.85), 1);
        ul{
          li{
            a{
              &:hover{
                color: white !important;
              }
            }
          }
        }
      }

      li{
        margin-right: 5px;
      }
    }
  }
}

